docs/schema/analog.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:analog="http://www.airbus.com/si2/analog"
	xmlns:icd="http://www.airbus.com/si2/icd" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.airbus.com/si2/analog"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	ecore:ignoreSubstitutionGroups="true"
	version="0.9.0">

	<xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore"
		schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd" />
	<xsd:import namespace="http://www.airbus.com/si2/icd"
		schemaLocation="platform:/plugin/com.airbus.si2.icd/model/icd.xsd" />

	<xsd:element name="AnalogProtocol" type="analog:AnalogProtocol" />
	<xsd:element ecore:ignore="true" name="AnalogSignal" type="analog:AnalogSignal" />

	<xsd:complexType name="AnalogProtocol">
		<xsd:complexContent>
			<xsd:extension base="icd:Protocol">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="AnalogSignal"
						type="analog:AnalogSignal" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="AnalogSignal">
		<xsd:complexContent>
			<xsd:extension base="icd:ProtocolMessage">
				<xsd:sequence minOccurs="0" maxOccurs="1" id="Signal">
					<xsd:choice>
						<xsd:element ref="icd:FloatingPointElement" />
						<xsd:element ref="icd:ReferenceElement" />
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="quantity" type="analog:AnalogSignalType"/>
				<xsd:attribute name="type" type="icd:FloatingPointPrecisionType" default="FLOAT32"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="AnalogSignalType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Voltage" />
			<xsd:enumeration value="Frequency" />
			<xsd:enumeration value="Current" />
			<xsd:enumeration value="Resistance" />
			<xsd:enumeration value="PWM" />
			<xsd:enumeration value="Capacitance" />
			<xsd:enumeration value="Inductance" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
