docs/schema/discrete.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:discrete="http://www.airbus.com/si2/discrete"
	xmlns:icd="http://www.airbus.com/si2/icd" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.airbus.com/si2/discrete"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	ecore:ignoreSubstitutionGroups="true" version="0.9.0">

	<xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore"
		schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd" />
	<xsd:import namespace="http://www.airbus.com/si2/icd"
		schemaLocation="platform:/plugin/com.airbus.si2.icd/model/icd.xsd" />

	<xsd:element name="DiscreteProtocol" type="discrete:DiscreteProtocol" />
	<xsd:element ecore:ignore="true" name="DiscreteSignal" type="discrete:DiscreteSignal" />

	<xsd:complexType name="DiscreteProtocol">
		<xsd:complexContent>
			<xsd:extension base="icd:Protocol">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="DiscreteSignal"
						type="discrete:DiscreteSignal" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DiscreteSignal">
		<xsd:complexContent>
			<xsd:extension base="icd:ProtocolMessage">
				<xsd:choice minOccurs="0" maxOccurs="1" id="Signal">
					<xsd:choice>
						<xsd:element ref="icd:BooleanElement" />
						<xsd:element ref="icd:ReferenceElement" />
					</xsd:choice>
				</xsd:choice>
				<xsd:attribute name="quantity" type="discrete:DiscreteSignalType"/>
				<xsd:attribute name="type" type="icd:IntegerPrecisionType" default="UINT8"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="DiscreteSignalType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OpenGround" />
			<xsd:enumeration value="Voltage" />
			<xsd:enumeration value="Frequency" />
			<xsd:enumeration value="Current" />
			<xsd:enumeration value="OpenClose" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
