docs/schema/serialline.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:serialline="http://www.airbus.com/si2/serialline" xmlns:icd="http://www.airbus.com/si2/icd"
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.airbus.com/si2/serialline"
	elementFormDefault="qualified" attributeFormDefault="unqualified" ecore:ignoreSubstitutionGroups="true"
	version="0.2.0">

	<xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/Ecore.xsd" />
	<xsd:import namespace="http://www.airbus.com/si2/icd"
		schemaLocation="platform:/plugin/com.airbus.si2.icd/model/icd.xsd" />

	<xsd:element name="SerialLineProtocol" type="serialline:SerialLineProtocol" />
	<xsd:element ecore:ignore="true" name="SerialLineMessage" type="serialline:SerialLineMessage" />
	<xsd:element ecore:ignore="true" name="SerialLineSignal" type="serialline:SerialLineSignal" />
	<xsd:element ecore:ignore="true" name="SerialLineType" type="serialline:SerialLineType" />
	<xsd:element ecore:ignore="true" name="SerialLineMode" type="serialline:SerialLineMode" />

	<xsd:complexType name="SerialLineProtocol">
		<xsd:complexContent>
			<xsd:extension base="icd:Protocol">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="StreamConfiguration" type="icd:StreamConfiguration"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Message" type="serialline:SerialLineMessage" />
				</xsd:sequence>
				<xsd:attribute name="type" type="serialline:SerialLineType"/>
				<xsd:attribute name="mode" type="serialline:SerialLineMode"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SerialLineMessage">
		<xsd:complexContent>
			<xsd:extension base="icd:ProtocolMessage">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Signals" type="serialline:SerialLineSignal" />
				</xsd:sequence>
				<xsd:attribute name="size" type="xsd:nonNegativeInteger"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SerialLineSignal">
		<xsd:complexContent>
			<xsd:extension base="icd:DataGroup" />
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="SerialLineType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RS232" />
			<xsd:enumeration value="RS422" />
			<xsd:enumeration value="RS485" />
			<xsd:enumeration value="USB" />
			<xsd:enumeration value="USB_2" />
			<xsd:enumeration value="SAS" />
			<xsd:enumeration value="SCSI" />
			<xsd:enumeration value="Undefined" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="SerialLineMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SIMPLEX" />
			<xsd:enumeration value="HALF_DUPLEX" />
			<xsd:enumeration value="FULL_DUPLEX" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
